.body {
    margin: 0px;
}

.main {
    margin-left: 30px;
    margin-right: 30px;

}

.lien__externe__marges {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.lien__externe {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 50px;
}

.home__visual {
    position: relative;
    margin-top: 12px;
    
}

.home__backgroungImage {
    margin-bottom: 16px;
    max-width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;

}

.home__title {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 110%;
    padding-top: 112px;
    margin-bottom: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    margin-top: 12px;
    

}

.home__subtitle {
    margin-top: 16px;
    margin-bottom: 85px;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;

    

}

.home__composant1 {
    background: white;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    padding-top: 13px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 22px;
    margin-bottom: 57px;


}



.home__imageLink {

}

.home__image1 {
    max-width: 100%;

}





.home__title1 {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    text-decoration: none;
    color: black;
    margin-top: 8px;
    margin-bottom: -15px;

}


.home__composant2 {
    background: white;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    padding-bottom: 22px;
    padding-top: 13px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 73px;

}


.home__image2 {
    max-width: 100%;

}

.home__title2 {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 110%;
    margin-top: 13px;


}

.home__description {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    text-decoration: none;
    color: black;

}

.home__linkBtn {
    text-decoration: none;
    
}

.home__link {
    background: #F0F1FF;
   
    margin-right: 142px;
    
    color: black;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;


}

.form__block {
    background: #FFFAE7;
    padding-top: 39px;
    padding-bottom: 53px;
    padding-left: 21px;
    padding-right: 53px;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    margin-bottom: 55px;

}


.form__title {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 31px;
    margin-top: 0px;

}

.form {

}

.form__section {
    display: flex;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    gap: 9px;


}

.form__label {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;

}

.form__input {
    background: #FFFFFF;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    border: none;
    min-height: 24px;

}

.form__textarea {
    background: #FFFFFF;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    border: none;
    min-height: 76px;

}

.form__btn {
    background-color: #F0F1FF;
    border-radius: 14px;
    border: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    padding-right: 42px;
    color: black;

    
}



.accordeon__button {
    background: #FCEFF5;
    border: none;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    border-radius: 18px;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
}

.accordeon__block {
    background: #FCEFF5;
    border-radius: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-bottom: 80px;

}

.accordeon__text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    
    
}

.horaires {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

