.footer {
    background: #F0F1FF;
    padding-top: 69px;
    padding-bottom: 14px;
    padding-left: 30px;
    padding-right: 30px;
   

}

.footer__top {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer__bottom {

}

.footer__logo {
    

}

.footer__link {

}

.footer__social {
    display: flex;
    gap: 12px;

}

.footer__icon {

}

.footer__tel {

}

.footer__adress {

}