.pageMouvement__headBlock {
    background-color: white;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    padding-top: 13px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 34px;
    margin-top: 42px;
    padding-top: 20px;
    padding-bottom: 37px;
    


}

.pageMouvement__headBlockImage {
    max-width: 100%;
    

}

.pageMouvement__headBlockTitle {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin-top: 14px;
    margin-bottom: 0px;

}

.pageMouvement__chapo {
    background: white;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 2px 2px 11px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 45px ;

}

.pageMouvement__chapoText {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 114.5%;
    margin-top: 0px;


}

.pageMouvement__text {
    font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 135%;
   margin-bottom: 25px;



}





.pageMouvement__artistsBlock {
    background: #F0F1FF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 37px;
    margin-bottom: 58px;

}

.pageMouvement__artistsBlock__titleDiv {
    background: #FFFAE7;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    border-radius: 33px;
    height: 62px;
    margin-left: 17px;
    margin-right: 17px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-bottom: 44px;

}

.pageMouvement__artistsBlock__text {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 110%;

}
.pageMouvement__artistsBlock__itemGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.pageMouvement__artistsBlock__item {

}

.pageMouvement__artistsBlock__image {
    width: 130px;
    border-radius: 50%;
    margin-bottom: 19px;

}

.pageMouvement__artistsBlock__group {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.pageMouvement__artistsBlock__nameDiv {
    background-color: white;
    padding-left: 9px;
    padding-right: 9px;
    width: 110px;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
    height: 24px;
    align-items: center;
    margin-bottom: 9px;

}

.pageMouvement__artistsBlock__name {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 110%;

}



.pageMouvement__artistsBlock__link {
    background: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;

    

}






.pageMouvement__frise {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 147px;


}

.pageMouvement__friseLine {
    z-index: 0;
    margin-left: -85px;
    max-width: 100%;
    width: 1839.01px;
    height: 1841px;


}

.pageMouvement__friseItems {
    display: flex;
    flex-direction: column;
    margin-top: -1769px;
    z-index: 1;
    margin-left: -31px;
    flex-direction: column;
    gap: 37px;

}

.pageMouvement__friseTitle {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 110%;

}



.pageMouvement__friseBlock {
    margin-left: 78px;
    margin-right: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.pageMouvement__friseImage {
    max-width: 100%;
    width: 149px;
    filter: drop-shadow(0px 4px 28px rgba(0, 0, 0, 0.25));
}


.pageMouvement__friseTextGroup {
    background: white;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-left: -67px;
    height: 65px;
    margin-top: 75px;
    padding-top: 8px;
    padding-left: 11px;
    padding-right: 10px;
    gap: 10px;
    min-width: 140px;


}

.pageMouvement__friseName {
    margin: 0px;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 112%;

}

.pageMouvement__friseDate {
    margin: 0px;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 110%;

}