.pageMouvement__headBlock {
    background-color: white;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    padding-top: 13px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;


}

.pageMouvement__headBlockImage {
    max-width: 100%;

}

.pageMouvement__headBlockTitle {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;

}

.pageMouvement__chapo {

}

.pageMouvement__chapoText {

}

.pageMouvement__text {

}





.pageMouvement__artistsBlock {

}

.pageMouvement__artistsBlock__titleDiv {

}

.pageMouvement__artistsBlock__text {

}

.pageMouvement__artistsBlock__item {

}

.pageMouvement__artistsBlock__image {

}

.pageMouvement__artistsBlock__group {

}

.pageMouvement__artistsBlock__nameDiv {

}

.pageMouvement__artistsBlock__name {

}

.pageMouvement__artistsBlock__link {

}






.pageMouvement__frise {

}

.pageMouvement__friseLine {

}

.pageMouvement__friseTitle {

}



.pageMouvement__friseBlock {

}

.pageMouvement__friseImage {

}

.pageMouvement__friseTextGroup {

}

.pageMouvement__friseName {

}

.pageMouvement__friseDate {

}