.carrousel-a {
  box-sizing: border-box;
  width: 100%;
}

.carrousel {
width: 100%;

} 
img{
  max-width: 100%;
  height: auto;
}

.carrousel_parent-ecrans{
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory; 

}
.carrousel_ecran{
  width: 100%; 
  flex: none;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.carrousel_ecran figure{
  margin: 0;
}

.carrousel {
  position: relative;
  z-index: 1;
}

.carrousel_btn {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); /
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  color: #fff;
}


    .carrousel_btn-avant {
      left: 50;
      
      background: #FFFFFF;
      box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border: none;
      display: flex;
      align-items: center;
    }
  
    .carrousel_btn-apres {
      right: 50;
      right: 0;
      background: #FFFFFF;
      box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border: none;
      display: flex;
      align-items: center;

    }
  
 
  
    .carrousel-a > a{
      text-decoration:none;
      border:2px solid black;
      border-radius:5px;
      padding:10px;
      color:white;
      background-color:black;
    }
  
    .carrousel-a > li.actif {
      background-color:white;
    }
  
 