.menu {
    background: #F0F1FF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: left;
    z-index: 10;
    

}

.menu__group {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-left: 41px;
 
    
   

}



.menu__groupBigLink {
    
}



.menu__linkSpace {
    margin-bottom: 40px;
    
}

.menu__link1 {
   
    text-decoration: none;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: black;

}

.menu__link {
    margin-top: 142px;
    text-decoration: none;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: black;
   
    
    

}

.menu__sublinkArtist {
    margin-bottom: 40px;

}

.menu__subLinkGroup {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    
    
    

}

.menu__subLink {
    
    text-decoration: none;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    color: black;
    margin-bottom: 14px;


}

.menu__subLink__oeuvreGroup {
    display: flex;
    flex-direction: column;
    margin-top: 8px;

}

.menu__subLink__oeuvre {
    text-decoration: none;
    color: black;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 110%;
    margin-bottom: 11px;

}

.menu__closeBtn {
    height: 40px;
    width: 40px;
    right: 0;
    position: absolute;
    border: none;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-top: 30px;
    align-items: center;
    align-content: center;
    flex-direction: row;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
}




