.menu {
    background: #F0F1FF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: left;

}

.menu__group {

}

.menu__link {

}

.menu__subLinkGroup {

}

.menu__subLink {

}




